<!DOCTYPE html>
<html lang="zh-cn"> 
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="陈刑">
		<title>在线种田</title>
		<meta name="keywords" content="种田,种田游戏,在线种田游戏">
		<meta name="description" content="种田使人快乐">
		<link rel="icon" type="image/x-icon" href="/favcion.ico">
		
		<!-- Bootstrap -->
		<script type="text/javascript" src="lib/jquery-1.11.0.min.js"></script>	
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">	
		<script type="text/javascript" src="lib/bootstrap/bootstrap.min.js"></script>
		
		<!-- JQuery -->
		<script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>	
		<script type="text/javascript" src="lib/jquery.cookie.js"></script>	
		
		<!-- BigNumber -->
		<script type="text/javascript" src='lib/bignumber.min.js'></script>
		
		<!-- LZstring -->
		<script type="text/javascript" src='lib/LZstring/lz-string.min.js'></script>
		
		<!-- Vue Core JavaScript  -->
		<script src="lib/vue.js"> </script>
	</head>

	<body>
		<div id="app">
			<div class="container d-flex justify-content-center">
				<!-- 主面板 START -->
				<div class="col-sm-12 col-md-10 text-center">
						<!-- 面板1 START -->
						<div class="my-2">
							<hr/>
							<!-- 消息滚动 START -->
							<div id="marquee">    
								<marquee direction="up" height="50" scrollamount="2">
									<p align="center" style="text-decoration: underline; cursor: pointer; margin: 0">点击查看公告内容</p>
									<p align="center">提示：如出现意外错误，请刷新后重试</p>
								</marquee>
							</div>
							<hr/>
							<!-- 消息滚动 END -->
							<h1 id="timeText">第 {{ _intToChinese(pastLife) }} 日</h1>
							<h1 id="moneyText">铜钱 {{ _intToChinese(point) }} 文</h1>
						</div>
						<!-- 面板1 END -->

						<!-- 面板2 START -->
						<div class="vstack gap-3">
							<!-- 背包 START -->
							<div id="backpack" class="hstack border border-1 border-dark">
								<span>敝筐</span>
								<div class="container">
									<div class="row row-cols-auto">
										<template v-for="(itemStack, _) in inventory">
											<template v-if="itemStack.count > 0">
												<div class="col">
													<button class="btn" v-on:click="itemStack.object.onActivate">
														{{ itemStack.object.name }} ({{ item.count }})
													</button>
												</div>
											</template>
										</template>
									</div>
								</div>
							</div>
							<!-- 背包 END -->
							<!-- 田地 START -->
							<div id="field" class="hstack border border-1 border-dark">
								<span>田地</span>
								<div class="container">
									<div class="row row-cols-auto">
										<template v-for="(item, index) in field">
											<template v-if="item">
												<div class="col">
													<button class="btn" v-on:click="item.onActivate">
														{{ item.name }}
													</button>
												</div>
											</template>
										</template>
									</div>
								</div>
							</div>
							<!-- 背包 END -->
						
							<!-- 存档面板 START -->
							<div class="vstack">
								<div v-bind:style="logCss" class="text-left border border-1 border-dark my-2">
									<p v-for="t in logTxt">{{ t }}</p>
								</div>
								<div class="d-flex justify-content-between">
									<input style="width: 70%;" class="border border-1 border-dark" id="data" type="text" v-model="record" >
									<button class="btn btn-default" v-on:click="_showData">存档</button>
									<button class="btn btn-default" v-on:click="_loadData">读档</button>
									<button class="btn btn-default" v-on:click="_askIfRestart">新游戏</button>
								</div>
							</div>
							<!-- 存档面板 END -->
						</div>
					<!-- 面板2 end -->
					</div>
				</div>
				<!-- 主面板 END -->
			</div>
		</div>
		
		<!-- JiaThis Button BEGIN -->
		<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?move=0&amp;btn=r5.gif" charset="utf-8"></script>
		<!-- JiaThis Button END -->

		<script src="script/level.js"> </script>
		<script src="script/skill.js"> </script>
		<script src="script/items.js"> </script>    
		<script src="script/nameMaker.js"> </script>

		<script src="script/core-main.js" > </script>
		<script src="script/core-timer.js"></script> 
		<!--客服 开始-->
		<link rel="stylesheet" href="//g8hh.com/static/css/kf.css" type="text/css" media="screen" charset="utf-8">
		<script src="//g8hh.com/static/js/kf.js"></script>
		<!-- 客服 结束 -->
		<!--站长统计-->
		<div style="display: none">
			<script>
				var _hmt = _hmt || [];
				(function() {
					var hm = document.createElement("script");
					hm.src = "https://hm.baidu.com/hm.js?f237591d5976f87ca2e06b38c3658d9c";
					var s = document.getElementsByTagName("script")[0]; 
					s.parentNode.insertBefore(hm, s);
				})();
			</script>
		</div>
	</body>
</html>